@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center banner p-5">
    <div>
        <h1 class="text-center text-black">Welcome to School App! </h1>
        <p class="text-center text-black">
           A platform where you can find all the groups you need for your school activities.
           <br/>
            Join thousands of learners from your school who are improving their educational experience
            on our online platform
        </p>
    </div>
